@import '_style_guild';

// 指定預設背景顏色
.default_bg {
    // background-color: red;
    background-image: url('../img/layout/bg.png');

    border: none;
}

// 指定背景透明
.transparent_bg {
    background-color: rgba(0,0,0,0);
}

// ul 不出現點點
@mixin remove_ul_dot {
    ul {
        list-style-type:none;
    }
}

// 設定為透明
@mixin opacity_0 {
    opacity: 0;
}

// sm 540px
// md 720px
// lg 960px
// xl 1140px

// mobile 字型大小
.mobile_title_font_size {
    font-size: 24px !important;
    line-height: 36px !important;
}

.mobile_content_font_size {
    font-size: 14px !important;
    line-height: 21px !important;
}

// pc 字型大小
.pc_title_font_size {
    font-size: 72px !important;
    line-height: 108px !important;
}

.pc_title_content_font_size {
    font-size: 20px !important;
    line-height: 30px !important;
}

// 隱藏物件
.hide_object {
    display: none;
}


