.default_bg {
  background-image: url("../img/layout/bg.png");
  border: none;
}

.transparent_bg {
  background-color: rgba(0, 0, 0, 0);
}

.mobile_title_font_size {
  font-size: 24px !important;
  line-height: 36px !important;
}

.mobile_content_font_size {
  font-size: 14px !important;
  line-height: 21px !important;
}

.pc_title_font_size {
  font-size: 72px !important;
  line-height: 108px !important;
}

.pc_title_content_font_size {
  font-size: 20px !important;
  line-height: 30px !important;
}

.hide_object {
  display: none;
}

#guided_tour ul {
  list-style-type: none;
}

#guided_tour .swiper-block {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

#guided_tour .swiper-container {
  width: 100%;
  max-width: 100vw;
}

#guided_tour .swiper-button-prev {
  left: 33%;
  bottom: 33%;
}

#guided_tour .swiper-button-next {
  right: 33%;
  bottom: 33%;
}

#guided_tour .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f3ece2;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#guided_tour .swiper-slide img {
  width: 100%;
  background-color: #f3ece2;
  overflow: hidden;
  margin: auto;
}

#guided_tour .swiper-slide h1 {
  background-color: #f3ece2;
}
