#new-section{
    width: 100%;
    height: 100vh;
    min-height: 800px;
    /* border: 1px black solid; */
    background-image: url("../img/layout/bg.png");
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.slider3d {
    margin-left: auto;
    margin-right: auto;
}

.left,
.right {
    transform: translateY(-60%);
    cursor: pointer;
}

.slider3d-list .left {
    position: absolute;
    top: 50%;
    z-index: 3;
    left: -100px;
}

.btn {
    padding: 5px 30px;
    border-radius: 50px;
    background-color: unset;
    border: 3px solid orange;
    color: orange;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 0 50px;
    display: flex;
    align-items: center;
    /* position: absolute;
    z-index: 99;
    left: 160px;
    top: 350px; */
    margin: 20px auto;
}
.btn:hover{
    background-color: orange;
    border: orange;
    text-shadow: unset;
    box-shadow: unset;
}
.btn-primary:hover{
    background-color: orange;
    border: orange;
    text-shadow: unset;
    box-shadow: unset;
    color: white;
}
.card-container{
    height: 500px;
    /* border: 1px solid black; */
    overflow: unset;
    position: relative;
   
}
@media(max-width:430px){
    #new-section{
        min-height: unset;
        align-items: flex-start;
        padding-top: 50%;
    }
    .slider3d{
        margin-bottom: 25px;
        /* border: 1px black solid; */
    }
}