@import '_style_guild.scss';

// 轉則點
#Turning_point {
    padding-bottom: 50px;

    .card-text {
        background-color: black;
        color: white;

        text-align: center;

        @include doc-text-font( black );
    }
}
// raw 往下推 50px
.row_padding
{
    padding-bottom: 50px;
}

// 去掉 card-body 的 padding
.card_body_padding {
    padding:0;
}

// 文字下三色塊底框 (with 'card')
.text_background_1 {
    width: 100%;
    height: 100%;

    background-image: url('../img/about-1-text-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

// 文字下黑底框 (with 'card')
.text_background_2 {
    width: 100%;
    height: 100%;

    .card-body {
        padding: 0;
    }

    .card-text::before {
        content: '';
    
        background-color:black;
            
        width: 100%;
        height: 100%;

        position:absolute;
        top: 20%;
        left: 10%;
    
        z-index: -1;    
    }
}

// 內文底色 1 (with 'card-text')
.card_text_bg_color_1 {
    @include doc-text-font( rgba(white, 0.5) );
}

// 內文底色 2 (with 'card-text')
.card_text_bg_color_2 {   
    @include doc-text-font( $gold-color );
}

.img_abs {
    background-color: red;

    position: absolute;
    top: 0;
    left: 0;

    // display: none;
}

.img_zoom_out {
    width: 80%;
    height: 80%;

    position: absolute;
    top: 0;
    left: 0;
}

// 要新增 img 底圖 .card-img-overlay 並放在 card 旁
.img_shadow {
    .card-img-overlay {
        width: 90%;
        height: 55%;
        
        position: absolute;
        top: 55%;
        left: 20%;

        z-index: -1;
    }

}

// parallax
.parallax {
    /* The image used */
    background-image: url("../img/logo.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // 為了讓圖顯示完整 cover 改成 contain

    /* 文字垂直置中 */
    line-height: 500px;
    text-align: center;
    font-size: 40px;
    color: brown;
}

.form_container {
    width: 900px;
    margin: auto;
}

.form_group {
    margin-bottom: 20px;
}

.file {
    input {
        margin: auto;
    }
}

.submit {
    margin: auto;
}

@media (max-width:540px){

}