@charset "UTF-8";
#Turning_point {
  padding-bottom: 50px;
}

#Turning_point .card-text {
  background-color: black;
  color: white;
  text-align: center;
  background-color: black;
  font-size: 2vh;
  letter-spacing: 1vh;
  line-height: 3vh;
}

.row_padding {
  padding-bottom: 50px;
}

.card_body_padding {
  padding: 0;
}

.text_background_1 {
  width: 100%;
  height: 100%;
  background-image: url("../img/about-1-text-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.text_background_2 {
  width: 100%;
  height: 100%;
}

.text_background_2 .card-body {
  padding: 0;
}

.text_background_2 .card-text::before {
  content: '';
  background-color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: -1;
}

.card_text_bg_color_1 {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 2vh;
  letter-spacing: 1vh;
  line-height: 3vh;
}

.card_text_bg_color_2 {
  background-color: #FCB13C;
  font-size: 2vh;
  letter-spacing: 1vh;
  line-height: 3vh;
}

.img_abs {
  background-color: red;
  position: absolute;
  top: 0;
  left: 0;
}

.img_zoom_out {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
}

.img_shadow .card-img-overlay {
  width: 90%;
  height: 55%;
  position: absolute;
  top: 55%;
  left: 20%;
  z-index: -1;
}

.parallax {
  /* The image used */
  background-image: url("../img/logo.jpg");
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* 文字垂直置中 */
  line-height: 500px;
  text-align: center;
  font-size: 40px;
  color: brown;
}

.form_container {
  width: 900px;
  margin: auto;
}

.form_group {
  margin-bottom: 20px;
}

.file input {
  margin: auto;
}

.submit {
  margin: auto;
}
