.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    overflow: hidden;
}

/* 圖片填滿畫面 */
.img-full {
    margin-left: calc( (100vw - (100vh * 1.7))/2 );
    margin-right: calc( (100vw - (100vh * 1.7))/2 );
    /* 56 是 NavBar */
    min-height: calc( 100vh - 56px);
    min-width: 100vw;

    margin-left: 0;
}


#Card-3 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.parallax {
    /* The image used */
    background-image: url("../img/girl-01.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* 文字垂直置中 */
    line-height: 500px;
    text-align: center;
    font-size: 40px;
    color: brown;
}

.title-1 {
    text-align: center;
    font-size: 40px;
}

#Title-2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

#footer {
    text-align: center;
}