.swiper-container {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  padding-bottom: 50px;
}

.swiper-container .swiper-wrapper {
  margin: 0px auto;
}

.swiper-container .swiper-wrapper .swiper-slide {
  overflow: hidden;
}

.swiper-container .swiper-wrapper .swiper-slide img {
  display: block;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  margin: 0px auto;
}
