.swiper-container {
    width: 100%;
    max-width: 100vw;
    height: 100vh;

    padding-bottom: 50px;

    .swiper-wrapper {
        // 置中
        margin:0px auto;

        .swiper-slide {
            // width: 100%;
            overflow: hidden;
            
            img {
                display:block;
                // width: 100%;
                height: 100vh;
                min-height: 100vh;
                overflow: hidden;
        
                margin:0px auto;
            }
        }
    }    
}


