* {
    font-family: 'Fjalla One';
}

svg {
    height: 100vh;
}

body {
    background-color:grey;
}

path {
    stroke: white;
    fill: transparent;
    transition: 0.5s;
    cursor: pointer;
}

path:hover {
    fill: darkkhaki;
    transform: translate(-5px, -5px);
}

.title_area {
    position: absolute;
    right: 20px;
    top: 20px;
    color: white;
    font-size: 25px;
}

hr {
    width: 100px;
    margin-left: 0;
    border: none;
    border-bottom: solid 2px #B99362;
}

h1 {
    margin: 0;
    padding: 0;
}

.forcast h2,
.forcast h4,
.forcast h5 
.forcast h6 {
    margin: 0;
}

.forcast h2 {
    margin-top: 50px;
}

.line {
    -webkit-line-clamp: 2;
    width: 400px;
    text-overflow: ellipsis;
}
