// TODO 定義常用的色調與字型大小

// 背景
$bg_color_code: #f3ece2;

// time-line
$time_line_color_code: #eea33b;

// 大標題
@mixin big_title {
    font-size: 4vw;
    font-weight: bolder;
    line-height: 5vw;
}

// 附標題
@mixin sub_title {
    font-size: 3vw;
    font-weight: bolder;
    line-height: 4vw;
}

// 內文
@mixin text_content {
    font-size: 1vw;
    font-weight: bolder;
    line-height: 2vw;
}