main {
    position: relative;
    background-color: #F3ECE2;
}

#to-booking {
    display: inline;
    
}

#booking {
    width: 200px;
    height: 200px;
    background-image: url("../img/layout/booking.gif");
    background-position: center;
    background-position-y: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 1000;
    /* border: 1px red solid; */
}
#booking.find{
    opacity: 0;
}
#booking.act {
    width: 200px;
    height: 200px;
    background-image: url("../img/layout/booking.gif");
    background-position: center;
    background-position-y: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 0px;
    bottom: -15px;
}




@media (max-width: 750px) {
    #booking {
        display: none;
    }

    #booking.act {
        display: none;
    }
}