body {
  max-width: 100vw;
  overflow-x: hidden;
}

.loading-mask {
  position: fixed;
  z-index: 9999999;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
}

.loading-mask .wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.branding {
  width: 93px;
  height: 46px;
}

.branding svg {
  display: block;
  width: 100%;
  height: 100%;
}

.branding svg polygon,
.branding svg path {
  fill: none;
  stroke: #fff;
  stroke-width: 4px;
  stroke-linecap: round;
}

.branding svg #small-peak {
  stroke-dasharray: 40.26 20.74 40.26 20.74;
  stroke-dashoffset: 0;
  animation: smallPeakAnimation 3s cubic-bezier(0.79, 0.14, 0.15, 0.86) infinite;
  animation-delay: 0.5s;
}

.branding svg #first-peak {
  stroke-dasharray: 93.72 48.28 93.72 48.28;
  stroke-dashoffset: 0;
  animation: largePeakAnimation 5s cubic-bezier(0.79, 0.14, 0.15, 0.86) infinite;
  animation-delay: 2s;
}

.branding svg #second-peak {
  stroke-dasharray: 93.72 48.28 93.72 48.28;
  stroke-dashoffset: 0;
  animation: largePeakAnimation 5s cubic-bezier(0.79, 0.14, 0.15, 0.86) infinite;
}

.branding svg #sun {
  stroke-dasharray: 129 43 129 43;
  stroke-dashoffset: 0;
  animation: sunAnimation 4s cubic-bezier(0.79, 0.14, 0.15, 0.86) infinite;
}

@keyframes smallPeakAnimation {
  33% {
    stroke-dashoffset: 20.13;
  }
  66% {
    stroke-dashoffset: 40.26;
  }
  100% {
    stroke-dashoffset: 61;
  }
}

@keyframes largePeakAnimation {
  33% {
    stroke-dashoffset: 46.86;
  }
  66% {
    stroke-dashoffset: 93.72;
  }
  100% {
    stroke-dashoffset: 142;
  }
}

@keyframes sunAnimation {
  25% {
    stroke-dashoffset: 43;
  }
  50% {
    stroke-dashoffset: 86;
  }
  75% {
    stroke-dashoffset: 129;
  }
  100% {
    stroke-dashoffset: 172;
  }
}
