// Variables
$pathColor: #fff;
$pathWidth: 4px;
$duration: 3s;
$easing: cubic-bezier(0.79, 0.14, 0.15, 0.86);

$smallPeakLength: 61;
$largePeakLength: 142;
$circleLength: 172;

$smallPeakLengthOneThird: $smallPeakLength * 0.33;  // 20
$smallPeakLengthTwoThird: $smallPeakLength * 0.66;  // 40
$largePeakLengthOneThird: $largePeakLength * 0.33;  // 47
$largePeakLengthTwoThird: $largePeakLength * 0.66;  // 94
$circleLengthOneQuarter: $circleLength * 0.25;      // 43
$circleLengthHalf: $circleLength * 0.5;             // 86
$circleLengthThreeQuarter: $circleLength * 0.75;    // 129

// ! 右邊不留白
body {
    max-width: 100vw;
    overflow-x: hidden;
}

.loading-mask {
    position: fixed;
    z-index: 9999999;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    background-color: black;

    .wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        // 置中
        transform: translate(-50%, -50%);
    }
}

// Styles and animation
.branding {    
    width: 93px;
    height: 46px;
    // position: relative;

    svg {
        display: block;
        width: 100%;
        height: 100%;
        
        polygon,
        path {
            fill: none;
            stroke: $pathColor;
            stroke-width: $pathWidth;
            stroke-linecap: round;
        }
        
        #small-peak {
            stroke-dasharray: $smallPeakLengthTwoThird ($smallPeakLength - $smallPeakLengthTwoThird) $smallPeakLengthTwoThird ($smallPeakLength - $smallPeakLengthTwoThird);
            stroke-dashoffset: 0;
            animation: smallPeakAnimation $duration $easing infinite;
            animation-delay: ($duration - 2.5s);
        }
        
        #first-peak {
            stroke-dasharray: $largePeakLengthTwoThird ($largePeakLength - $largePeakLengthTwoThird) $largePeakLengthTwoThird ($largePeakLength - $largePeakLengthTwoThird);
            stroke-dashoffset: 0;
            animation: largePeakAnimation ($duration + 2s) $easing infinite;
            animation-delay: ($duration - 1s);
        }
        
        #second-peak {
            stroke-dasharray: $largePeakLengthTwoThird ($largePeakLength - $largePeakLengthTwoThird) $largePeakLengthTwoThird ($largePeakLength - $largePeakLengthTwoThird);
            stroke-dashoffset: 0;
            animation: largePeakAnimation ($duration + 2s) $easing infinite;
        }
        
        #sun {
            stroke-dasharray: ($circleLengthOneQuarter * 3) $circleLengthOneQuarter ($circleLengthOneQuarter * 3) $circleLengthOneQuarter;
            stroke-dashoffset: 0;
            animation: sunAnimation ($duration + 1s) $easing infinite;
        }
    }
}

// Animations
@keyframes smallPeakAnimation {
    33%  { stroke-dashoffset: $smallPeakLengthOneThird; }
    66%  { stroke-dashoffset: $smallPeakLengthTwoThird; }
    100% { stroke-dashoffset: $smallPeakLength; }
}

@keyframes largePeakAnimation {
    33%  { stroke-dashoffset: $largePeakLengthOneThird; }
    66%  { stroke-dashoffset: $largePeakLengthTwoThird; }
    100% { stroke-dashoffset: $largePeakLength; }
}

@keyframes sunAnimation {
    25%  { stroke-dashoffset: $circleLengthOneQuarter; }
    50%  { stroke-dashoffset: $circleLengthHalf; }
    75%  { stroke-dashoffset: $circleLengthThreeQuarter; }
    100% { stroke-dashoffset: $circleLength; }
}
