@import '_style_guild';

// 指定預設背景顏色
.default_bg {
    background-color: $bg_color_code;

    border: none;
}

// 指定背景透明
.transparent_bg {
    background-color: rgba(0,0,0,0);
}

// ul 不出現點點
@mixin remove_ul_dot {
    ul {
        list-style-type:none;
    }
}

// 設定為透明
@mixin opacity_0 {
    opacity: 0;
}


