@import '_style_guild', 'default';

// ? 環境導覽
#guided_tour {
    // ! FIX ul 不出現點點
    @include remove_ul_dot;

    .swiper-block {
        width:  100%;
    }

    .swiper-container {
        width:  100%;
        max-width: 100vw;
        height: 100vh;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: $bg_color_code;
        width: 100%;
        height: 100vh;

        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        img {
            width: 100%;// ! 不設定 圖片會很大
            background-color: $bg_color_code;
            overflow: hidden;
            margin:auto;
        }

        h1 {
            background-color: $bg_color_code;
        }
    }

    .swiper-button-prev:hover {
        background-color: red;
    }

    .swiper-button-next:hover {
        background-color: red;
    }
}