#section-5{
    margin: auto;
    width: 100%;
    height: calc(80vw + 100px);
    max-height: 1330px;
    background-color: blanchedalmond;
    position: relative;
    background-image: url("../img/layout/bg.png");
    background-size: cover;
    @media (max-width:576px){
        height: calc(250vw + 160px);
        max-height: 900px;
    }
    .waterflow-container{
        position: relative;
        top: 80px;
        width: 77vw;
        height: 56vw;
       /* max-height: 1080px; */
        //  border: 1px brown solid;
        display: flex;
        flex-wrap: wrap;
        @media (max-width:576px) {
            min-height: 600px;
            height: 120vh;
            max-height: 600px;
        }
        div{
            width: 23%;
            height: 18.5%;
            // border: cadetblue 1px solid;
            margin: 10px 10px 10px 10px;
        }
        #sliderpic-1{
            position: absolute;
            top: calc(55.5% + 67px);
             margin: 10px 10px 10px 0;
            width: 23%;
            height: calc(37% + 20px);
          
            
            div:nth-child(1){
                width: 100%;
                height: 100%;
                position: absolute;
               left: -10px;
               top: -10px;
                background-image: url("../img/homepage-jpg//waterfall5.jpg");
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider1 24s infinite ease-in-out;
               opacity:0;
            }
            div:nth-child(2){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
               background-image: url("../img/homepage-jpg/waterfall2.jpg");
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider1 24s infinite ease-in-out;
               opacity:0;
               animation-delay: 6s;
            }
            div:nth-child(3){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
                 background-image: url("../img/homepage-jpg/waterfall10.jpg");
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider1 24s infinite ease-in-out;
               opacity:0;
               animation-delay: 12s;
            }
            div:nth-child(4){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
                 background-image: url("../img/homepage-jpg/menu3.jpg");
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider1 24s infinite ease-in-out;
               opacity:0;
               animation-delay: 18s;
            }
            @media (max-width:576px){
               width: calc(35% + 20px);
                height: calc(42% + 20px);
                top: 0;
            }
        }
        @keyframes slider1 {
            5%{
                opacity: 1;
            }
            25%{
                opacity: 1;
            }
            30%{
                opacity: 0;
            }
        }
        #sliderpic-2{
            position: absolute;
            top: calc(37% + 45px);
            left: calc(23% + 20px);
             margin: 10px 10px 10px 0;
            width: 23%;
            height: calc(37% + 20px);
            background-image: url("../img/homepage-jpg/waterfall7.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            div:nth-child(1){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
                background-image: url("../img/homepage-jpg/waterfall3.jpg");
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider2 32s infinite ease-in-out;
               opacity:0;
               @media (max-width:576px){
                border-radius: 0 0 50px 0;
            }
            }
            div:nth-child(2){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
               background-color: #CBE59A;
               animation: slider2 32s infinite ease-in-out;
               opacity:0;
               animation-delay: 8s;
               @media (max-width:576px){
                border-radius: 0 0 50px 0;
            }
            }
            div:nth-child(3){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
                background-image: url("../img/homepage-jpg/diy1.jpg");
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider2 32s infinite ease-in-out;
               opacity:0;
               animation-delay: 16s;
               @media (max-width:576px){
                border-radius: 0 0 50px 0;
            }
            }
            div:nth-child(4){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
                background-image: url("../img/homepage-jpg/waterfall6.png");
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider2 32s infinite ease-in-out;
               opacity:0;
               animation-delay: 24s;
               @media (max-width:576px){
                   border-radius: 0 0 50px 0;
               }
            }
            @media (max-width:576px){
                width: calc(35% + 20px);
                height: calc(21% + 0px);
                top: calc(84% + 80px);
                left: calc(35% + 40px);
                border-radius: 0 0 50px 0;
            }
        }
        @keyframes slider2 {
            5%{
                opacity: 1;
            }
            25%{
                opacity: 1;
            }
            30%{
                opacity: 0;
            }
        }
        #sliderpic-3{
            position: absolute;
            top: 0%;
            left: calc(46% + 45px);
             margin: 10px 10px 10px 0px;
            width: 23%;
            height: calc(37% + 20px);
           
            div:nth-child(1){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
               background-image: url("../img/homepage-jpg/waterfall2.jpg");
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider3 24s infinite ease-in-out;
               opacity:0;
            }
            div:nth-child(2){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
                background-image: url("../img/homepage-jpg/waterfall7.jpg");
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider3 24s infinite ease-in-out;
               opacity:0;
               animation-delay: 6s;
            }
            div:nth-child(3){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
                background-image: url("../img/homepage-jpg/menu3.jpg");
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider3 24s infinite ease-in-out;
               opacity:0;
               animation-delay: 12s;
            }
            div:nth-child(4){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
                background-image: url("../img/homepage-jpg/menu4.jpg");
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider3 24s infinite ease-in-out;
               opacity:0;
               animation-delay: 18s;
            }
            @media (max-width:576px){
                width: calc(35% + 20px);
                height: calc(42% + 20px);
                left: 0;
                top: calc(63% + 60px);
                
            }
        }
        @keyframes slider3 {
            5%{
                opacity: 1;
            }
            25%{
                opacity: 1;
            }
            30%{
                opacity: 0;
            }
        }
        #sliderpic-4{
            position: absolute;
            top: 0%;
            left: 0;
             margin: 10px 10px 10px 0;
            width: 23%;
            height: 18%.5;
           
            div:nth-child(1){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
               background-image: url("../img/homepage-jpg/menu3.jpg");
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider4 20s infinite ease-in-out;
               opacity:0;
            }
            div:nth-child(2){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
               background-image: url("../img/homepage-jpg/waterfall5.jpg");
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider4 20s infinite ease-in-out;
               opacity:0;
               animation-delay: 5s;
            }
            div:nth-child(3){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
               background-image: url("../img/homepage-jpg/menu1.png");
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider4 20s infinite ease-in-out;
               opacity:0;
               animation-delay: 10s;
            }
            div:nth-child(4){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
               background-color:#EFB6C8;
               animation: slider4 20s infinite ease-in-out;
               opacity:0;
               animation-delay: 15s;
            }
            @media (max-width:576px){
                width: calc(35% + 20px);
                height: calc(21% + 0px);
                top: calc(63% + 60px);
                left: calc(35% + 40px);
                border-radius: 0;
            }
        }
        @keyframes slider4 {
            5%{
                opacity: 1;
            }
            25%{
                opacity: 1;
            }
            30%{
                opacity: 0;
            }
        }
        #sliderpic-5{
            position: absolute;
            top: calc(18.5% + 20px);
            left: calc(23% + 20px);
             margin: 10px 10px 10px 0;
            width: 23%;
            height: 18%.5;
          
            div:nth-child(1){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
                  background-image: url("../img/homepage-jpg/menu1.png");
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider5 28s infinite ease-in-out;
               opacity:0;
              
            }
            div:nth-child(2){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
                  background-image: url("../img/homepage-jpg/waterfall6.png");
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider5 28s infinite ease-in-out;
               opacity:0;
               animation-delay: 7s;
            }
            div:nth-child(3){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
                  background-image: url("../img/homepage-jpg/waterfall9.jpg");
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider5 28s infinite ease-in-out;
               opacity:0;
               animation-delay: 14s;
            }
            div:nth-child(4){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
                  background-image: url("../img/homepage-jpg/waterfall1.jpg");
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider5 28s infinite ease-in-out;
               opacity:0;
               animation-delay: 21s;
            }
            @media (max-width:576px){
                width: calc(35% + 20px);
                 height: calc(21% + 0px);
                 top: calc(21% + 20px);
                 left: calc(35% + 40px);
             }
        }
        @keyframes slider5 {
            5%{
                opacity: 1;
            }
            25%{
                opacity: 1;
            }
            30%{
                opacity: 0;
            }
        }
        #sliderpic-6{
            position: absolute;
            top: 0%;
            left: calc(69% + 65px);
             margin: 10px 10px 10px 0;
            width: 23%;
            height: 18%.5;
           
            border-radius: 0 50px 0 0 ;
            div:nth-child(1){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
                border-radius: 0 50px 0 0 ;
                background-image: url("../img/homepage-jpg/menu2.jpg");
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider6 28s infinite ease-in-out;
               opacity:0;
            }
            div:nth-child(2){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
                border-radius: 0 50px 0 0 ;
                background-image: url("../img/homepage-jpg/waterfall4.jpg");
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider6 28s infinite ease-in-out;
               opacity:0;
               animation-delay: 7s;
            }
            div:nth-child(3){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
                border-radius: 0 50px 0 0 ;
                background-color: #EFC97D;
               animation: slider6 28s infinite ease-in-out;
               opacity:0;
               animation-delay: 14s;
            }
            div:nth-child(4){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
                border-radius: 0 50px 0 0 ;
                background-image: url("../img/homepage-jpg/menu3.jpg");
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider6 28s infinite ease-in-out;
               opacity:0;
               animation-delay: 21s;
            }
            @media (max-width:576px){
                width: calc(35% + 20px);
                height: calc(21% + 0px);
                 top: 0;
                 left: calc(35% + 40px);
             }
        }
        @keyframes slider6 {
            5%{
                opacity: 1;
            }
            25%{
                opacity: 1;
            }
            30%{
                opacity: 0;
            }
        }
        #sliderpic-7{
            position: absolute;
            top: calc(37% + 45px);
            left: calc(69% + 65px);
             margin: 10px 10px 10px 0;
            width: 23%;
            height: 18%.5;
            // background-image: url("../img/homepage-jpg/waterfall1.jpg");
            // background-position: center;
            // background-size: cover;
            // background-repeat: no-repeat;
            div:nth-child(1){
                 width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
               background-image: url("../img/homepage-jpg/waterfall9.jpg");
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider7 20s infinite ease-in-out;
               opacity:0;
            }
            div:nth-child(2){
                 width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
               background-color: #ADC9E0;
               animation: slider7 20s infinite ease-in-out;
               opacity:0;
               animation-delay: 5s;
            }
            div:nth-child(3){
                 width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
                background-image: url("../img/homepage-jpg/waterfall7.jpg");
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider7 20s infinite ease-in-out;
               opacity:0;
               animation-delay: 10s;
            }
            div:nth-child(4){
                 width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
                background-image: url("../img/homepage-jpg/waterfall4.jpg");
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider7 20s infinite ease-in-out;
               opacity:0;
               animation-delay: 15s;
            }
            @media (max-width:576px){
               display: none;
            }
        }
        @keyframes slider7 {
            5%{
                opacity: 1;
            }
            25%{
                opacity: 1;
            }
            30%{
                opacity: 0;
            }
        }
        #sliderpic-8{
            position: absolute;
            top: calc(55.5% + 67px);
            left: calc(46% + 45px);
             margin: 10px 10px 10px 0;
            width: calc(46% + 20px);
            height: calc(37% + 20px);
            // background-image: url("../img/homepage-jpg/waterfall9.jpg");
            // background-position: center;
            // background-size: cover;
            // background-repeat: no-repeat;
            border-radius: 0 0 50px 0;
            div:nth-child(1){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
                border-radius: 0 0 50px 0;
                background-image: url("../img/homepage-jpg/waterfall1.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                animation: slider8 20s infinite ease-in-out;
                opacity:0;
                 border-radius: 0 0 50px 0;
                  @media (max-width:576px){
                    border-radius: 0;
                 }
            }
            div:nth-child(2){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
                border-radius: 0 0 50px 0;
                 background-image: url("../img/homepage-jpg/schedule2.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                animation: slider8 20s infinite ease-in-out;
                animation-delay: 5s;
                opacity:0;
                 border-radius: 0 0 50px 0;
                 @media (max-width:576px){
                    border-radius: 0;
                 }
            }
            div:nth-child(3){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
                border-radius: 0 0 50px 0;
                 background-image: url("../img/homepage-jpg/diy1.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                animation: slider8 20s infinite ease-in-out;
                animation-delay: 10s;
                opacity:0;
                 border-radius: 0 0 50px 0;
                 @media (max-width:576px){
                    border-radius: 0;
                 }
            }
            div:nth-child(4){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
                border-radius: 0 0 50px 0;
                 background-image: url("../img/homepage-jpg/waterfall8.jpg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                animation: slider8 20s infinite ease-in-out;
                animation-delay: 15s;
                opacity:0;
                
                @media (max-width:576px){
                    border-radius: 0;
                 }
            }
           
            @media (max-width:576px){
                width: calc(70% + 60px);
                height: calc(21% + 0px);
                top: calc(42% + 40px);
                left: 0;
                border-radius: 0;
            }
            @keyframes slider8 {
                5%{
                    opacity: 1;
                }
                25%{
                    opacity: 1;
                }
                30%{
                    opacity: 0;
                }
            }
        }   
        
        #sliderpic-9{
            position: absolute;
            top: calc(18.5% + 23px);
             margin: 10px 10px 10px 0;
            width: 23%;
            height: calc(37% + 20px);
            background-color: #ADC9E0;
            // opacity: 0.9;
            /* background-image: url("./img/waterfall3.jpg"); */
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            @media (max-width:576px){
                display: none;
            }
        }
        #sliderpic-10{
            position: absolute;
            top: 0%;
            left: calc(23% + 20px);
             margin: 10px 10px 10px 0;
            width: 23%;
            height: 18%.5;
            background-color: #EFC97D;
            // opacity: 0.9;
            /* background-image: url("./img/waterfall4.jpg"); */
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            @media (max-width:576px){
                display: none;
            }
        }
        #sliderpic-11{
            position: absolute;
            top: calc(37% + 45px);
            left: calc(46% + 45px);
             margin: 10px 10px 10px 0;
            width: 23%;
            height: 18%.5;
            background-color:#EFB6C8;
            div:nth-child(1){
                width: 100%;
                height: 100%;
                position: absolute;
               left: -10px;
               top: -10px;
               background-color: #ADC9E0;
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider11 20s infinite ;
               opacity:0;
              animation-timing-function: linear;
            }
            div:nth-child(2){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
               background-image: url("../img/homepage-jpg/waterfall10.jpg");
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider11 20s infinite ;
               opacity:0;
               animation-delay: 5s;
               animation-timing-function: linear;
            }
            div:nth-child(3){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
               background-color:#EFB6C8;
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider11 20s infinite ;
               opacity:0;
               animation-delay: 10s;
               animation-timing-function: linear;
            }
            div:nth-child(4){
                width: 100%;
                height: 100%;
                position: absolute;
                 left: -10px;
               top: -10px;
               background-image: url("../img/homepage-jpg/waterfall5.jpg");
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider11 20s infinite ;
               opacity:0;
               animation-delay: 15s;
               animation-timing-function: linear;
            }
            @media (max-width:576px){
                display: none;
            }
        }
        @keyframes slider11 {
            5%{
                opacity: 1;
            }
            25%{
                opacity: 1;
            }
            30%{
                opacity: 0;
            }
        }
        #sliderpic-12{
            position: absolute;
            top: calc(18.5% + 20px);
            left: calc(69% + 65px);
             margin: 10px 10px 10px 0;
            width: 23%;
            height: 18%.5;
            background-color: #CBE59A;
            // opacity: 0.9;
            /* background-image: url("./img/waterfall4.jpg"); */
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            @media (max-width:576px){
                display: none;
            }
        }
        #sliderpic-13{
            position: absolute;
            top: calc(74% + 87px);
            left: calc(23% + 20px);
             margin: 10px 10px 10px 0;
            width: 23%;
            height: 18%.5;
            background-color: #E6B6E4;
            div:nth-child(1){
                width: 100%;
                height: 100%;
                position: absolute;
               left: -10px;
               top: -10px;
                background-image: url("../img/homepage-jpg/menu4.jpg");
               background-position: center;
               background-repeat: no-repeat;
               background-size: cover;
               animation: slider13 10s infinite ease-in-out;
               opacity:0;
               animation-delay: 5s;
            }
            @media (max-width:576px){
                display: none;
            }
        }
        @keyframes slider13 {
            10%{
                opacity: 1;
            }
            50%{
                opacity: 1;
            }
            60%{
                opacity: 0;
            }
        }
    }
    .slidetext-box{
        width: 60px;
        height: 44vw;
        // border: 1px red solid;
        position: absolute;
        top: 90px;
        left: 86vw;
       
        @media (max-width:576px) {
            left: 76vw;
        }
        #slidetext{
            width: 100%;
            writing-mode: vertical-rl;
            padding:  150px 0 0 0;
            line-height: 60px;
            font-size: 1.5vw;
            font-weight: bolder;
            font-family: "微軟正黑體" !important;
            font-weight: 600;
            letter-spacing: 7px;
            // border: 1px blue solid;
            @media (max-width:1500px){
                font-size: 1.8vw;
            }
            @media (max-width:1200px){
                padding: 130px 0 0 0;
            }
           
            @media (max-width:1050px){
                font-size: 2vw;
                padding: 100px 0 0 0;
            }
            @media (max-width:750px){
                padding: 60px 0 0 0;
            }
            @media (max-width:576px){
                font-size: 4vw;
            }
        }
        #slideline{
            width: 50%;
            height: 4vw;
            border-right: 1px black solid;
            @media (max-width:576px){
                height: 8vw;
            }
        }
    }
}