.default_bg {
  background-image: url("../img/layout/bg.png");
  border: none;
}

.transparent_bg {
  background-color: rgba(0, 0, 0, 0);
}

.mobile_title_font_size {
  font-size: 24px !important;
  line-height: 36px !important;
}

.mobile_content_font_size {
  font-size: 14px !important;
  line-height: 21px !important;
}

.pc_title_font_size {
  font-size: 72px !important;
  line-height: 108px !important;
}

.pc_title_content_font_size {
  font-size: 20px !important;
  line-height: 30px !important;
}

.hide_object {
  display: none;
}

#philosophy {
  background-image: url("../img/layout/bg.png");
}

#philosophy .hand_drawn_1,
#philosophy .hand_drawn_3 {
  width: 100%;
  position: absolute;
  top: 40%;
  left: -25%;
}

#philosophy .hand_drawn_1 img,
#philosophy .hand_drawn_3 img {
  width: 25%;
  overflow: hidden;
}

#philosophy .hand_drawn_2 {
  width: 100%;
  position: absolute;
  top: -70%;
  left: 30%;
}

#philosophy .hand_drawn_2 img {
  width: 25%;
  overflow: hidden;
}

#philosophy .about_line {
  width: 100%;
}

#philosophy .about_line img {
  width: 100%;
  overflow: hidden;
  content: url("../img/about/line.png");
}

#philosophy #circle_parallax_1 {
  left: 30%;
}

#philosophy #circle_parallax_1 img {
  padding-top: 70%;
  overflow: hidden;
}

#philosophy #circle_parallax_2 {
  top: -10%;
  left: -15%;
}

#philosophy #circle_parallax_2 img {
  padding-top: 70%;
  overflow: hidden;
  z-index: -1;
}

#philosophy #circle_parallax_3 {
  left: 30%;
}

#philosophy #circle_parallax_3 img {
  padding-top: 70%;
  overflow: hidden;
}

#philosophy .p_mobile_1,
#philosophy .p_mobile_2,
#philosophy .p_mobile_3 {
  position: relative;
}

#philosophy .p_mobile_1 .bp_title,
#philosophy .p_mobile_2 .bp_title,
#philosophy .p_mobile_3 .bp_title {
  display: none;
}

#philosophy .p_mobile_1 .bp_text,
#philosophy .p_mobile_2 .bp_text,
#philosophy .p_mobile_3 .bp_text {
  display: none;
}

#philosophy .p_pc {
  display: inline;
  position: relative;
}

@media (min-width: 720px) and (max-width: 970px) {
  #philosophy .p_pc .bp_title {
    font-size: 36px !important;
    line-height: 54px !important;
  }
  #philosophy .p_pc .bp_text {
    font-size: 16px !important;
    line-height: 24px !important;
  }
}

@media (min-width: 540px) and (max-width: 720px) {
  #philosophy .p_pc .bp_title {
    font-size: 30px !important;
    line-height: 40px !important;
  }
  #philosophy .p_pc .bp_text {
    font-size: 15px !important;
    line-height: 22px !important;
  }
}

@media (max-width: 540px) {
  #philosophy #philosophy {
    max-width: 100vw;
  }
  #philosophy .about_line img {
    content: url("../img/about/line-320px.png");
  }
  #philosophy .p_mobile_3 {
    padding-right: 0;
    padding-left: 0;
  }
  #philosophy .p_mobile_3 .bp_title {
    width: 75vw;
    display: inline;
    top: 55%;
    left: 50%;
  }
  #philosophy .p_mobile_3 .bp_text {
    width: 70vw;
    display: inline;
    top: 70%;
    left: 50%;
    color: black;
  }
  #philosophy .p_mobile_2 {
    padding-right: 0;
    padding-left: 0;
  }
  #philosophy .p_mobile_2 .bp_title {
    width: 70vw;
    display: inline;
    top: 65%;
    left: 50%;
  }
  #philosophy .p_mobile_2 .bp_text {
    width: 70vw;
    display: inline;
    top: 83%;
    left: 50%;
    color: black;
  }
  #philosophy .p_mobile_1 {
    padding-right: 0;
    padding-left: 0;
  }
  #philosophy .p_mobile_1 .bp_title {
    width: 70vw;
    display: inline;
    top: 50%;
    left: 50%;
  }
  #philosophy .p_mobile_1 .bp_text {
    width: 70vw;
    display: inline;
    top: 66%;
    left: 50%;
    color: black;
  }
  #philosophy .p_pc {
    display: none;
  }
  #philosophy #circle_parallax_1,
  #philosophy #circle_parallax_2,
  #philosophy #circle_parallax_3 {
    left: 0;
    top: -60%;
  }
  #philosophy #circle_parallax_1 img,
  #philosophy #circle_parallax_2 img,
  #philosophy #circle_parallax_3 img {
    padding-top: 0;
    display: none !important;
  }
  #philosophy .philosophy_1 {
    padding-bottom: 30%;
  }
  #philosophy .philosophy_1 img {
    content: url("../img/about/explore-320px.png");
  }
  #philosophy .philosophy_2 img {
    content: url("../img/about/create-320px.png");
  }
  #philosophy .philosophy_3 img {
    content: url("../img/about/enjoy-320px.png");
  }
}

#philosophy .bp_left .bp_title {
  color: black;
}

#philosophy .bp_right .bp_title {
  color: black;
  top: 17%;
  left: 32%;
}

#philosophy .bp_right .bp_text {
  left: 40%;
}

#philosophy .bp_title {
  color: black;
  width: 50vw;
  position: absolute;
  top: 25%;
  left: 60%;
  z-index: 2;
  text-align: center;
  font-size: 72px;
  font-weight: bolder;
  line-height: 108px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#philosophy .bp_text {
  color: white;
  width: 40vw;
  position: absolute;
  top: 60%;
  left: 70%;
  z-index: 2;
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  line-height: 36px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#philosophy .philosophy_2 {
  padding-top: 0;
  padding-bottom: 0;
}

#philosophy .philosophy_2 img {
  width: 100%;
  overflow: hidden;
}

#philosophy .philosophy_1 {
  padding-top: 10%;
  padding-bottom: 30%;
}

#philosophy .philosophy_1 img {
  width: 100%;
  overflow: hidden;
}

#philosophy .philosophy_3 {
  padding-top: 10%;
  padding-bottom: 30%;
}

#philosophy .philosophy_3 img {
  width: 100%;
  overflow: hidden;
}
