// 
// ? 經營理念
// 

@import '_style_guild', 'default';

#philosophy {
    background-color: $bg_color_code;

    // ? 圓圈
    #circle_parallax_1 {
        left: 30%;
        img {
            padding-top: 70%;
            // 裁切超出的圖片範圍
            overflow: hidden;
        }
    }

    #circle_parallax_2 {
        top: -10%;
        left: -15%;
        img {
            padding-top: 70%;
            // 裁切超出的圖片範圍
            overflow: hidden;

            z-index: -1;
        }
    }

    #circle_parallax_3 {
        left: 30%;
        img {
            padding-top: 70%;
            // 裁切超出的圖片範圍
            overflow: hidden;
        }
    }

    .bp_container {
        position: relative;
        .bp_title {
            display: none;
        }
        .bp_text {
            display: none;
        }
    }

    .bp_container_2 {
        position: relative;
        .bp_title {
            display: none;
        }
        .bp_text {
            display: none;
        }
    }

    .pb_text_area {
        display: inline;
    }

    // ! col-sm 是 540px 以下
    @media (max-width:540px){
        #philosophy {
            max-width: 100vw;
        }

        .bp_container_2 {
            position: relative;
            .bp_title {
                display: inline;
                top: 65%;
                left: 30%;
            }
            .bp_text {
                width: 100%;

                display: inline;
                top: 75%;
                left: 0;
                color: black;

                font-size: 1vw;
                line-height: 5vw;
            }
        }
        .bp_container {
            position: relative;
            .bp_title {
                display: inline;
                top: 50%;
                left: 30%;
            }
            .bp_text {
                width: 100%;

                display: inline;
                top: 60%;
                left: 0;
                color: black;

                font-size: 1vw;
                line-height: 5vw;
            }
        }

        .pb_text_area {
            display: none;
        }

        // ? 圓圈回到中央
        #circle_parallax_1,
        #circle_parallax_2,
        #circle_parallax_3
        {
            left: 0;
            top: -60%;
            img {
                padding-top: 0;
                // ? 不顯示紅圈圈
                display: none !important;
            }
        }

        .philosophy_1 {
            // 照片要和圓圈連一起
            padding-bottom: 30%;

            img {
                // 換圖
                content:url('../img/about/explore-320px.png');
            }        
        }

        .philosophy_2 {
            img {
                // 換圖
                content:url('../img/about/create-320px.png');
            }        
        }

        .philosophy_3 {
            img {
                // 換圖
                content:url('../img/about/enjoy-320px.png');
            }        
        }
    }


    .bp_left {
        .bp_title {
            color: black;
        }
    }

    .bp_right {
        .bp_title {
            color: black;

            top: 8%;
        }

        .bp_text {
            left: 10%;
        }
    }

    .bp_title {
        color: black;

        width: 30vw;

        position: absolute;
        top: 15%;
        left: 10%;

        z-index: 2;

        text-align: center;
        @include big_title;
    }

    .bp_text {
        color: white;

        width: 15vw;

        position: absolute;
        top: 45%;
        left: 60%;

        z-index: 2;

        text-align: center;
        @include text_content;
    }

    // 大圖
    // 2. 創造美好 露營回憶
    .philosophy_2 {
        // 檢視一下顯示範圍
        // background-color: yellow;

        img {
            // 100% 照片才會貼邊緣
            width: 100%;
            // 裁切超出的圖片範圍
            overflow: hidden;
        }
        
        padding-top: 0;
        padding-bottom: 0;
    }

    // 大圖
    // 1. 帶著家人 走進自然
    .philosophy_1 {
        // 檢視一下顯示範圍
        // background-color: red;

        img {
            // 100% 照片才會貼邊緣
            width: 100%;
            // 裁切超出的圖片範圍
            overflow: hidden;
        }
        
        padding-top: 10%;
        padding-bottom: 30%;

        // margin-left: 10%;
    }

    // 大圖
    // 3. 享受自然 森林芬多精
    .philosophy_3 {
        // 檢視一下顯示範圍
        // background-color: red;

        img {
            // 100% 照片才會貼邊緣
            width: 100%;
            // 裁切超出的圖片範圍
            overflow: hidden;
        }
        
        padding-top: 10%;
        padding-bottom: 30%;

        // margin-left: 10%;
    }

    .no_padding {
        padding-right: 0; 
        padding-left: 0;
    }
}