
footer{
    width: 100%;
    height: 160px;
    background-color: #608D4B;
    position: relative;
    @media (max-width:768px){
        height: 252px;
    }
    a{ 
        text-decoration: none;
        color: white;
        #top-btn{
            width: 132px;
            height: 132px;
            border-radius: 100%;
            background-color: #608D4B;
            position: absolute;
            top: -50px;
            left: calc(50% - 66px);
            #f-arrow{
                width: 20px;
                height: 20px;
                border-right: 3px solid rgb(255, 255, 255);
                border-top: 3px solid rgb(255, 255, 255)    ;
                position: relative;
                left:55px;
                top: 15px;
                transform: rotate(-45deg);
                @media (max-width:650px) {
                    left:57px;
                }
            }
           #f-top{
               width: 30px;
               height: 20px;
               position: relative;
               left:53px;
                top: 9px;
           }
           
        }
        &:hover{
            color: #eea33b;
        }
    }
   
    .container{
        width: 720px;
        height: 80px;
        // border: 1px dashed white;
        margin: 0 auto 0 auto;
        position: relative;
        top: 30px;
        display: flex;
        padding-top: 5px;
        @media (max-width:768px){
            width: 350px;
            height: 185px;
            flex-wrap: wrap;
            justify-content: center;
        }
        @media (max-width:360px){
            width: 300px;
        }
        #footer-title{
            width: 208px;
            height: 68px;
            background-image: url("../img/LOGO.png");
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
            // border: 1px black solid;
            // display: inline-block;
            &:hover{
                filter: drop-shadow(5px 5px 5px #333);
                
              }
            @media (max-width:768px) {
                display: none;
            }
        }
        #footer-line{
            width: 35px;
            height: 75px;
            border-right: 1px white solid;
            // display: inline-block;
            @media (max-width:768px){
                display: none;
            }
        }
        .f-infomation-box{
            width: 320px;
            height: 70px;
            
            // border: 1px white solid;
            // display: inline-block;
            margin: 0 0 0 26px;
            @media (max-width:768px){
                height: 80px;
            }
            @media (max-width:360px){
                margin: 0;
            }
            .f-phone{
                width: 305px;
                height: 22px;
                // border: 1px red solid;
                display: flex;
                #phone-icon{
                    width: 22px;
                    height: 20px;
                    background-image: url("../img/footer_phone.png");
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                #phone-text{
                    width: 240px;
                    height: 20px;
                    // border: blanchedalmond 1px solid;
                    margin: 0 0 0 7px;
                    color: white;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 1.5px;
                    
                }
                
            }
            .f-mail{
                width: 290px;
                height: 22px;
                // border: 1px rgb(44, 14, 151) solid;
                display: flex;
                margin: 2.5px 0 2.5px 0;
                @media (max-width:768px){
                    margin: 5px 0 5px 0;
                }
                #mail-icon{
                    width: 22px;
                    height: 20px;
                    background-image: url("../img/footer_mail.png");
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                #mail-text{
                    width: 240px;
                    height: 20px;
                    // border: blanchedalmond 1px solid;
                    margin: 0 0 0 7px;
                    color: white;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 4.5px;
                }
            }
            .f-adress{
                width: 305px;
                height: 22px;
                // border: 1px rgb(204, 137, 13) solid;
                display: flex;
                #adress-icon{
                    width: 22px;
                    height: 20px;
                    background-image: url("../img/footer_adress.png");
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
                #adress-text{
                    width: 290px;
                    height: 20px;
                    // border: blanchedalmond 1px solid;
                    margin: 0 0 0 7px;
                    color: white;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 1.5px;
                }
            }
        }
        .f-icon-box{
            width: 150px;
            height: 70px;
            // border: 1px white solid;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            a{
                #f-fb{
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    background-image: url("../img/icon_fb.png");
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    &:hover{
                        background-image: url("../img/icon_fb_h.png");
                    }
                }
            }
            a{
                #f-line{
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    background-image: url("../img/icon_ig.png");
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    &:hover{
                        background-image: url("../img/icon_ig_h.png");
                    }
                }
            }
            
        }
    }
    #copyright{
        font-size: 12px;
        width: 150px;
        height: 15px;
        // border: 1px black solid;
        position: absolute;
        bottom: 15px;
        left: calc(50% - 75px);
        color: white;
    }
}
