@charset "UTF-8";
#schedule-main {
  position: relative;
}

#schedule-main .timeline-tab {
  display: none;
}

#schedule-main .timeline-tab.act {
  display: block;
}

@media (max-width: 740px) {
  #schedule-main .timeline-tab-phone {
    display: block;
  }
}

#schedule-main .jss-btn.act {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

#schedule-main .js-btn.act {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

#schedule-main .js-tab {
  display: none;
}

#schedule-main .js-tab.act {
  display: block;
}

#schedule-main #fri {
  display: none;
}

@media (max-width: 500px) {
  #schedule-main #fri {
    display: block;
    width: 180px;
    height: 100px;
    background-image: url("../img/page-schedule/friday-btn.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 590px;
    top: -70px;
    cursor: pointer;
  }
}

@media (max-width: 500px) and (max-width: 500px) {
  #schedule-main #fri {
    left: 80px;
  }
}

@media (max-width: 500px) and (max-width: 450px) {
  #schedule-main #fri {
    left: 55px;
  }
}

@media (max-width: 500px) and (max-width: 400px) {
  #schedule-main #fri {
    left: 25px;
  }
}

@media (max-width: 500px) and (max-width: 380px) {
  #schedule-main #fri {
    left: 15px;
  }
}

@media (max-width: 500px) and (max-width: 350px) {
  #schedule-main #fri {
    width: 160px;
    left: 10px;
  }
}

#schedule-main #hol {
  display: none;
}

@media (max-width: 500px) {
  #schedule-main #hol {
    display: block;
    width: 180px;
    height: 100px;
    background-image: url("../img/page-schedule/holiday-btn.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 745px;
    top: -74px;
    cursor: pointer;
  }
}

@media (max-width: 500px) and (max-width: 500px) {
  #schedule-main #hol {
    left: 235px;
  }
}

@media (max-width: 500px) and (max-width: 450px) {
  #schedule-main #hol {
    left: 205px;
  }
}

@media (max-width: 500px) and (max-width: 400px) {
  #schedule-main #hol {
    left: 170px;
  }
}

@media (max-width: 500px) and (max-width: 380px) {
  #schedule-main #hol {
    left: 160px;
  }
}

@media (max-width: 500px) and (max-width: 350px) {
  #schedule-main #hol {
    width: 160px;
    left: 145px;
  }
}

#schedule-main .timeline-btn:nth-child(1) {
  width: 180px;
  height: 100px;
  background-image: url("../img/page-schedule/friday-btn.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 590px;
  top: -70px;
  cursor: pointer;
}

@media (max-width: 1720px) {
  #schedule-main .timeline-btn:nth-child(1) {
    left: 470px;
  }
}

@media (max-width: 1520px) {
  #schedule-main .timeline-btn:nth-child(1) {
    left: 360px;
  }
}

@media (max-width: 1320px) {
  #schedule-main .timeline-btn:nth-child(1) {
    left: 300px;
  }
}

@media (max-width: 1120px) {
  #schedule-main .timeline-btn:nth-child(1) {
    left: 250px;
  }
}

@media (max-width: 920px) {
  #schedule-main .timeline-btn:nth-child(1) {
    left: 170px;
  }
}

@media (max-width: 820px) {
  #schedule-main .timeline-btn:nth-child(1) {
    left: 120px;
    top: -72px;
  }
}

@media (max-width: 550px) {
  #schedule-main .timeline-btn:nth-child(1) {
    left: 100px;
  }
}

@media (max-width: 500px) {
  #schedule-main .timeline-btn:nth-child(1) {
    display: none;
  }
}

@media (max-width: 500px) {
  #schedule-main .timeline-btn:nth-child(1) {
    left: 80px;
  }
}

@media (max-width: 450px) {
  #schedule-main .timeline-btn:nth-child(1) {
    left: 55px;
  }
}

@media (max-width: 400px) {
  #schedule-main .timeline-btn:nth-child(1) {
    left: 25px;
  }
}

@media (max-width: 380px) {
  #schedule-main .timeline-btn:nth-child(1) {
    left: 15px;
  }
}

@media (max-width: 350px) {
  #schedule-main .timeline-btn:nth-child(1) {
    width: 160px;
    left: 10px;
  }
}

#schedule-main .timeline-btn:nth-child(2) {
  width: 180px;
  height: 100px;
  background-image: url("../img/page-schedule/holiday-btn.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 745px;
  top: -74px;
  cursor: pointer;
}

@media (max-width: 1720px) {
  #schedule-main .timeline-btn:nth-child(2) {
    left: 625px;
  }
}

@media (max-width: 1520px) {
  #schedule-main .timeline-btn:nth-child(2) {
    left: 515px;
  }
}

@media (max-width: 1320px) {
  #schedule-main .timeline-btn:nth-child(2) {
    left: 455px;
  }
}

@media (max-width: 1120px) {
  #schedule-main .timeline-btn:nth-child(2) {
    left: 405px;
  }
}

@media (max-width: 920px) {
  #schedule-main .timeline-btn:nth-child(2) {
    left: 325px;
  }
}

@media (max-width: 820px) {
  #schedule-main .timeline-btn:nth-child(2) {
    left: 275px;
    top: -76px;
  }
}

@media (max-width: 550px) {
  #schedule-main .timeline-btn:nth-child(2) {
    left: 255px;
  }
}

@media (max-width: 500px) {
  #schedule-main .timeline-btn:nth-child(2) {
    display: none;
  }
}

@media (max-width: 500px) {
  #schedule-main .timeline-btn:nth-child(2) {
    left: 235px;
  }
}

@media (max-width: 450px) {
  #schedule-main .timeline-btn:nth-child(2) {
    left: 205px;
  }
}

@media (max-width: 400px) {
  #schedule-main .timeline-btn:nth-child(2) {
    left: 170px;
  }
}

@media (max-width: 380px) {
  #schedule-main .timeline-btn:nth-child(2) {
    left: 160px;
  }
}

@media (max-width: 350px) {
  #schedule-main .timeline-btn:nth-child(2) {
    width: 160px;
    left: 145px;
  }
}

#schedule-main .timeline-btn:nth-child(3) {
  width: 180px;
  height: 100px;
  background-image: url("../img/page-schedule/notice-btn.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 907px;
  top: -73px;
  cursor: pointer;
}

@media (max-width: 1720px) {
  #schedule-main .timeline-btn:nth-child(3) {
    left: 787px;
  }
}

@media (max-width: 1520px) {
  #schedule-main .timeline-btn:nth-child(3) {
    left: 677px;
  }
}

@media (max-width: 1320px) {
  #schedule-main .timeline-btn:nth-child(3) {
    left: 617px;
  }
}

@media (max-width: 1120px) {
  #schedule-main .timeline-btn:nth-child(3) {
    left: 567px;
  }
}

@media (max-width: 920px) {
  #schedule-main .timeline-btn:nth-child(3) {
    left: 487px;
  }
}

@media (max-width: 820px) {
  #schedule-main .timeline-btn:nth-child(3) {
    left: 437px;
  }
}

@media (max-width: 740px) {
  #schedule-main .timeline-btn:nth-child(3) {
    display: none;
  }
}

#notice {
  width: 100%;
  background: #B7D7C9;
}

@media (max-width: 740px) {
  #notice {
    padding-bottom: 150px;
  }
}

@media (max-width: 500px) {
  #notice {
    padding-bottom: 25px;
  }
}

#notice .intro2 {
  background: #B7D7C9;
  padding: 20px 0 0 0;
}

#notice .intro2 .container2 {
  width: 60%;
  min-width: 500px;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

@media (max-width: 500px) {
  #notice .intro2 .container2 {
    min-width: unset;
    width: 100%;
  }
}

#notice .intro2 .container2 h1 pre {
  margin: 30px 0 40px 0;
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif;
  font-size: 32px;
  font-weight: bolder;
}

#notice .notice-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 60vw;
  min-width: 700px;
  height: 1370px;
  background-color: #B7D7C9;
  padding: 0px 0 0 0;
  margin: auto;
  position: relative;
}

@media (max-width: 740px) {
  #notice .notice-container {
    height: 2300px;
    min-width: unset;
    width: 80vw;
  }
}

@media (max-height: 500px) {
  #notice .notice-container {
    height: 2450px;
  }
}

@media (max-width: 500px) {
  #notice .notice-container {
    width: 100%;
    height: unset;
    padding: 0 0 100px;
  }
}

@media (max-width: 430px) {
  #notice .notice-container {
    width: 100%;
  }
}

#notice .notice-container .space-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: calc(50% - 350px);
}

@media (max-width: 740px) {
  #notice .notice-container .space-flex {
    position: unset;
    display: block;
    width: 100%;
    margin: auto;
  }
}

#notice .notice-container .space-flex .temperature-box {
  width: 300px;
  height: 370px;
  border-radius: 20px;
  background-color: #F1F9FE;
  margin: 0 30px 0 0;
}

@media (max-width: 740px) {
  #notice .notice-container .space-flex .temperature-box {
    margin: auto;
    width: 385px;
  }
}

@media (max-width: 500px) {
  #notice .notice-container .space-flex .temperature-box {
    cursor: pointer;
    height: 60px;
    width: 300px;
    padding: 5px 0 0 0;
  }
}

@media (max-width: 430px) {
  #notice .notice-container .space-flex .temperature-box {
    width: 260px;
  }
}

#notice .notice-container .space-flex .temperature-box .notice-title {
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif;
  font-size: 28px;
  font-weight: bolder;
  text-align: center;
  margin: 13px 0;
}

@media (max-width: 500px) {
  #notice .notice-container .space-flex .temperature-box .notice-title {
    margin: 8px 0 0 0;
  }
}

#notice .notice-container .space-flex .temperature-box #move-box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 500px) {
  #notice .notice-container .space-flex .temperature-box #move-box1 {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

#notice .notice-container .space-flex .temperature-box #move-box1 .colum1 div:nth-child(odd) {
  background-color: #B7D7C9;
}

@media (max-width: 740px) {
  #notice .notice-container .space-flex .temperature-box #move-box1 .colum1 div:nth-child(odd) {
    width: 160px;
  }
}

@media (max-width: 740px) {
  #notice .notice-container .space-flex .temperature-box #move-box1 .colum1 div:nth-child(even) {
    width: 160px;
  }
}

#notice .notice-container .space-flex .temperature-box #move-box1 .colum1 div {
  font-weight: bolder;
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif;
  font-size: 18px;
  margin: 0;
  width: 130px;
  height: 45px;
  line-height: 45px;
  text-align: center;
}

#notice .notice-container .space-flex .temperature-box #move-box1 .colum2 div:nth-child(even) {
  background-color: #B7D7C9;
}

@media (max-width: 740px) {
  #notice .notice-container .space-flex .temperature-box #move-box1 .colum2 div:nth-child(even) {
    width: 160px;
  }
}

@media (max-width: 740px) {
  #notice .notice-container .space-flex .temperature-box #move-box1 .colum2 div:nth-child(odd) {
    width: 160px;
  }
}

#notice .notice-container .space-flex .temperature-box #move-box1 .colum2 div {
  font-weight: bolder;
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif;
  font-size: 18px;
  margin: 0;
  width: 130px;
  height: 45px;
  line-height: 45px;
  text-align: center;
}

@media (max-width: 500px) {
  #notice .notice-container .space-flex .tem-phone.act {
    display: block;
  }
}

#notice .notice-container .space-flex .tem-phone {
  display: none;
}

@media (max-width: 500px) {
  #notice .notice-container .space-flex .tem-phone {
    padding: 7px 0 5px 0;
    width: 300px;
    margin: 30px auto 0 auto;
    border-radius: 20px;
    height: 165px;
    background-color: #F1F9FE;
  }
}

#notice .notice-container .space-flex .tem-phone .tem {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px auto 5px auto;
}

#notice .notice-container .space-flex .tem-phone .tem .colum1-phone {
  width: 50%;
  text-align: center;
}

#notice .notice-container .space-flex .tem-phone .tem .colum1-phone div:nth-child(odd) {
  background-color: #B7D7C9;
}

#notice .notice-container .space-flex .tem-phone .tem .colum1-phone div:nth-child(even) {
  background-color: #F1F9FE;
}

#notice .notice-container .space-flex .tem-phone .tem .colum2-phone {
  width: 50%;
  text-align: center;
}

#notice .notice-container .space-flex .tem-phone .tem .colum2-phone div:nth-child(odd) {
  background-color: #F1F9FE;
}

#notice .notice-container .space-flex .tem-phone .tem .colum2-phone div:nth-child(even) {
  background-color: #B7D7C9;
}

#notice .notice-container .space-flex .sweet-box {
  border-radius: 20px;
  width: 385px;
  background-color: #F1F9FE;
}

@media (max-width: 740px) {
  #notice .notice-container .space-flex .sweet-box {
    margin: 30px auto 0 auto;
  }
}

@media (max-width: 500px) {
  #notice .notice-container .space-flex .sweet-box {
    cursor: pointer;
    height: 60px;
    width: 300px;
    padding: 5px 0 0 0;
  }
}

@media (max-width: 430px) {
  #notice .notice-container .space-flex .sweet-box {
    width: 260px;
  }
}

#notice .notice-container .space-flex .sweet-box .notice-title {
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif;
  font-size: 28px;
  font-weight: bolder;
  text-align: center;
  margin: 5px 0;
}

@media (max-width: 500px) {
  #notice .notice-container .space-flex .sweet-box .notice-title {
    margin: 8px 0 0 0;
  }
}

#notice .notice-container .space-flex .sweet-box #notice-text {
  padding: 0 20px;
  font-size: 18px;
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif;
  font-weight: bolder;
}

@media (max-width: 500px) {
  #notice .notice-container .space-flex .sweet-box #notice-text {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

#notice .notice-container .space-flex #sweet-phone {
  display: none;
}

@media (max-width: 500px) {
  #notice .notice-container .space-flex #sweet-phone {
    width: 300px;
    margin: 30px auto 0 auto;
    padding: 20px;
    background-color: #F1F9FE;
    border-radius: 20px;
  }
}

@media (max-width: 500px) {
  #notice .notice-container .space-flex #sweet-phone.act {
    display: block;
  }
}

#notice .notice-container .detail-box {
  border-radius: 20px;
  background-color: #F1F9FE;
  width: 720px;
  position: absolute;
  left: calc(50% - 350px);
  top: 360px;
  margin: 35px 0 0 0;
  padding: 20px;
}

@media (max-width: 740px) {
  #notice .notice-container .detail-box {
    top: 770px;
    width: 385px;
    left: calc(50% - 192.5px);
  }
}

@media (max-width: 500px) {
  #notice .notice-container .detail-box {
    cursor: pointer;
    height: 60px;
    position: unset;
    width: 300px;
    margin: 35px auto 0 auto;
    padding: 1px 0 0 0;
  }
}

@media (max-width: 430px) {
  #notice .notice-container .detail-box {
    width: 260px;
  }
}

#notice .notice-container .detail-box .notice-title {
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
  font-size: 28px;
  font-weight: bolder;
  text-align: center;
  margin: 5px 0;
}

@media (max-width: 500px) {
  #notice .notice-container .detail-box .notice-title {
    margin: 12px 0 0 0;
    padding: 0;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

#notice .notice-container .detail-box div {
  padding: 20px 35px 0 35px;
  font-size: 18px;
  font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif;
  font-weight: bolder;
}

@media (max-width: 500px) {
  #notice .notice-container .detail-box div {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    padding: 0;
  }
}

@media (max-width: 500px) {
  #notice .notice-container #notice-phone.act {
    display: block;
  }
}

#notice .notice-container #notice-phone {
  display: none;
}

@media (max-width: 500px) {
  #notice .notice-container #notice-phone {
    width: 300px;
    margin: 30px auto 0 auto;
    padding: 20px;
    background-color: #F1F9FE;
    border-radius: 20px;
  }
}
