// 分頁部分tab部分
#schedule-main{
    position: relative;
   .timeline-tab{
      display: none;

   }
   .timeline-tab.act{
    display: block;
   }
   
   
  .timeline-tab-phone{
    @media (max-width:740px) {
        display: block;
    }
  }
  .jss-btn.act{
    filter:brightness(0.8);
  }
  .js-btn.act{
    filter:brightness(0.8);
  }
  

  .js-tab{
      display: none;

  }
  .js-tab.act{
      display: block;
      
  }

    #fri{
        display: none;
        @media (max-width:500px) {
            display: block;
            width: 180px;
        height: 100px;
        background-image: url("../img/page-schedule/friday-btn.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 590px;
        top: -70px;
        cursor: pointer;
        @media (max-width:500px) {
            left: 80px;
        }
        @media (max-width:450px) {
            left: 55px;
        }
        @media (max-width:400px) {
            left: 25px;
        }
        @media (max-width:380px){
            left: 15px;
        }
        @media (max-width:350px){
            width: 160px;
            left: 10px;
        }
        }
    }
    #hol{
        display: none;
        @media (max-width:500px) {
            display: block;
            width: 180px;
            height: 100px;
            background-image: url("../img/page-schedule/holiday-btn.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            left: 745px;
            top: -74px;
            cursor: pointer;
            @media (max-width:500px) {
                left: 235px;
            } 
            @media (max-width:450px) {
                left: 205px;
            }
            @media (max-width:400px) {
                left: 170px;
            }
            @media (max-width:380px){
                left: 160px;
            }
            @media (max-width:350px){
                width: 160px;
                left: 145px;
            }
        }
    }


    .timeline-btn:nth-child(1){
        width: 180px;
        height: 100px;
        background-image: url("../img/page-schedule/friday-btn.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 590px;
        top: -70px;
        cursor: pointer;
        @media (max-width:1720px) {
            left: 470px;
        }
        @media (max-width:1520px) {
            left: 360px;
        }
        @media (max-width:1320px) {
            left: 300px;
        }
        @media (max-width:1120px) {
            left: 250px;
        }
        @media (max-width:920px) {
            left: 170px;
        }
        @media (max-width:820px) {
            left: 120px;
            top: -72px;
        }

        @media (max-width:550px) {
            left: 100px;
        }
        @media (max-width:500px) {
            display: none;
        }

        @media (max-width:500px) {
            left: 80px;
        }
        @media (max-width:450px) {
            left: 55px;
        }
        @media (max-width:400px) {
            left: 25px;
        }
        @media (max-width:380px){
            left: 15px;
        }
        @media (max-width:350px){
            width: 160px;
            left: 10px;
        }
      
    }
    .timeline-btn:nth-child(2){
        width: 180px;
        height: 100px;
        background-image: url("../img/page-schedule/holiday-btn.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 745px;
        top: -74px;
        cursor: pointer;   
        @media (max-width:1720px) {
            left: 625px;
        } 
        @media (max-width:1520px) {
            left: 515px;
        } 
        @media (max-width:1320px) {
            left: 455px;
        } 
        @media (max-width:1120px) {
            left: 405px;
        } 
        @media (max-width:920px) {
            left: 325px;
        } 
        @media (max-width:820px) {
            left: 275px;
            top: -76px;
        } 
        @media (max-width:550px) {
            left: 255px;
        } 

        @media (max-width:500px) {
            display: none;
        }

        @media (max-width:500px) {
            left: 235px;
        } 
        @media (max-width:450px) {
            left: 205px;
        }
        @media (max-width:400px) {
            left: 170px;
        }
        @media (max-width:380px){
            left: 160px;
        }
        @media (max-width:350px){
            width: 160px;
            left: 145px;
        }
    }
    .timeline-btn:nth-child(3){
        width: 180px;
        height: 100px;
        background-image: url("../img/page-schedule/notice-btn.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: 907px;
        top: -73px;
        cursor: pointer;   
        @media (max-width:1720px) {
           left: 787px;
        } 
        @media (max-width:1520px) {
            left: 677px;
         } 
         @media (max-width:1320px) {
            left: 617px;
         } 
         @media (max-width:1120px) {
            left: 567px;
         } 
         @media (max-width:920px) {
            left: 487px;
         } 
         @media (max-width:820px) {
            left: 437px;
         } 
         @media (max-width:740px) {
           display: none;
         } 
    }
}




#notice{
    width: 100%;
    background: #B7D7C9;
    // @media (max-width:740px) {
    //     display: block;
    //   } 
    @media (max-width:740px){
        padding-bottom: 150px;
    }
    @media (max-width:500px){
        padding-bottom: 25px;
    }
    .intro2{
        background: #B7D7C9;
        padding: 20px 0 0 0;
        // border: 1px black solid;
        .container2{
            width: 60%;
            min-width: 500px;
            max-width: 1200px;
            // border: 1px rgb(17, 0, 255) solid;
            margin: auto;
            text-align: center;
            @media (max-width:500px) {
                min-width: unset;
                width: 100%;
            }
            h1{
                pre{
                    margin: 30px 0 40px 0 ;
                    font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif ;
                    font-size: 32px;
                    font-weight: bolder;
                }
            }
        }
    }
    
    .notice-container{
        box-sizing: border-box;
        width: 60vw;
        min-width: 700px;
        height: 1370px;
        background-color: #B7D7C9;
        padding: 0px 0 0 0;
        // border: 1px solid rgb(182, 41, 41);
        margin: auto;
        position: relative;
        @media (max-width:740px) {
            height: 2300px;
            min-width: unset;
            width: 80vw;
        }  
        @media (max-height:500px){
            height: 2450px;
        }
        @media (max-width:500px){
            width: 100%;
            height: unset;
            padding: 0 0 100px;
        }
        @media (max-width:430px){
            width: 100%;
        }
        .space-flex{
            display: flex;
            position: absolute;
            left: calc(50% - 350px);
            @media (max-width:740px) {
                position: unset;
                display: block;
                width: 100%;
                margin: auto;
            }
            .temperature-box{
                
                width: 300px;
                height: 370px;
                border-radius: 20px;
                // border: 1px solid black;
                background-color: #F1F9FE;
               margin: 0 30px 0 0 ;
               @media (max-width:740px) {
                margin: auto;
                width: 385px;

               
                }
                @media (max-width:500px){
                    cursor: pointer;
                    height: 60px;
                    width: 300px;
                    padding: 5px 0 0 0;
                }
                @media (max-width:430px){
                   width: 260px;
                }
               .notice-title{
                
                font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif;
                font-size: 28px;
                font-weight: bolder;
                text-align: center;
                // border: 1px yellow solid;
                margin: 13px 0;
                @media (max-width:500px){
                    margin: 8px 0 0 0 ;
                }
               }
               #move-box1{
                   display: flex;
                   justify-content: center;
                   @media (max-width:500px){
                      transform: scaleY(0);

                    }
                   .colum1{
                    //    border: 1px solid brown;
                       div:nth-child(odd){
                        background-color: #B7D7C9;
                        @media (max-width:740px) {
                            width: 160px;
                        }
                       }
                       div:nth-child(even){
                       @media (max-width:740px) {
                           width: 160px;
                       }
                       }
                       div{
                        font-weight: bolder;
                        font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif;
                        font-size: 18px;
                        margin: 0;
                        width: 130px;
                        height: 45px;
                        line-height: 45px;
                        text-align: center;
                        
                       }
                   }
                   .colum2{
                   
                    // border: 1px solid brown;
                    div:nth-child(even){
                        background-color: #B7D7C9;
                        @media (max-width:740px) {
                            width: 160px;
                        }
                    }
                    div:nth-child(odd){
                        @media (max-width:740px) {
                            width: 160px;
                        }
                    }
                    div{
                        font-weight: bolder;
                        font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif;
                        font-size: 18px;
                        margin: 0;
                        width: 130px;
                        height: 45px;
                        line-height: 45px;
                        text-align: center;
                    }
                }
               }
            }
            .tem-phone.act{
                @media (max-width:500px){
                    display: block;
                }
            }
            .tem-phone{
                display: none;
            
                @media (max-width:500px){
                    // display: ;
                    padding: 7px 0 5px 0;
                    width: 300px;
                    // border: 1px solid black;
                    margin: 30px auto 0 auto;
                    border-radius: 20px;
                    height: 165px;
                    background-color: #F1F9FE;
                }
                .tem{
                    width: 90%;
                    display: flex;
                    margin: 15px auto 5px auto; 
                    
                    .colum1-phone{
                        width: 50%;
                        text-align: center;
                        div:nth-child(odd){
                            background-color: #B7D7C9;  
                           
                        }
                        div:nth-child(even){
                            background-color: #F1F9FE;
                           
                        }
                        
                    }
                    .colum2-phone{
                        width: 50%;
                        text-align: center; div:nth-child(odd){
                            background-color: #F1F9FE;
                           
                        }
                        div:nth-child(even){
                            background-color: #B7D7C9;  
                        }
                    }
                }
                
            }
            .sweet-box{
                border-radius: 20px;
                width: 385px;
                // height: 370px;
                // border: 1px solid black;
                background-color: #F1F9FE;
                @media (max-width:740px) {
                margin: 30px auto 0 auto;
  
                }

                @media (max-width:500px){
                    cursor: pointer;
                    height: 60px;
                    width: 300px;
                    padding: 5px 0 0 0;
                }
                @media (max-width:430px){
                    width: 260px;
                 }
                .notice-title{
                    font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif ;
                    font-size: 28px;
                    font-weight: bolder;
                    text-align: center;
                    // border: 1px yellow solid;
                    margin: 5px 0;
                    @media (max-width:500px){
                        margin: 8px 0 0 0 ;
                    }
                }
                #notice-text{
                    padding: 0 20px;
                    font-size: 18px;
                    font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif ;
                    font-weight: bolder;

                    @media (max-width:500px){
                    transform: scaleY(0);
                    }
                    
                }
               
            }
            #sweet-phone{
                display: none;
                @media (max-width:500px){
                    // display: block;
                    width: 300px;
                    margin: 30px auto 0 auto;
                    padding: 20px;
                    background-color: #F1F9FE;
                    border-radius: 20px;
                }
            }
            #sweet-phone.act{
                @media (max-width:500px){
                    display: block;
                }
                
            }
        }
        
        .detail-box{
            border-radius: 20px;
            background-color: #F1F9FE;
            width: 720px;
            // height: 870px;
            // border: 1px peru solid;
            position: absolute;
            left: calc(50% - 350px);
            top: 360px;
            margin: 35px 0 0 0;
            padding: 20px;
            @media (max-width:740px) {
                top: 770px;
                width: 385px;
                // height: 1420px;
                left: calc(50% - 192.5px);
            }
            @media (max-width:500px){
                cursor: pointer;
                height: 60px;
                position: unset;
                width: 300px;
                margin: 35px auto 0 auto;
                padding: 1px 0 0 0;
            }
            @media (max-width:430px){
                width: 260px;
             }
            .notice-title{
                font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
                font-size: 28px;
                font-weight: bolder;
                text-align: center;
                // border: 1px yellow solid;
                margin: 5px 0;
                @media (max-width:500px){
                    margin: 12px 0 0 0;
                    padding: 0;
                    transform: scaleY(1);
                    
                }
                
            }
            div{
                padding: 20px 35px 0 35px;
                font-size: 18px;
                font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif ;
                font-weight: bolder;
                @media (max-width:500px){
                transform: scaleY(0);
                padding: 0;
                }
            }
        }
        #notice-phone.act{
            @media (max-width:500px){
                display: block;
            }
        }
        #notice-phone{
            display: none;
            @media (max-width:500px){
                // display: block;
                width: 300px;
                margin: 30px auto 0 auto;
                padding: 20px;
                background-color: #F1F9FE;
                border-radius: 20px;
            }
        }
    }
    
}
